.selectWrap {
    margin-bottom: 1rem;
}
.selectWrap label {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
}
.selectWrap select {
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid rgb(165, 165, 165);
}