.container {
    width: 90%;
    flex: 1;
    /* height: calc(100% - 20%); */

    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-inline: auto;
}