.cursor {
    pointer-events: none;
    user-select: none;
    position: absolute;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    width: 10px;
    height: 10px;
    background-color: #DB2763;
    z-index: 999;
}