.footer {
    width: 90%;
    height: 10%;
    margin-top: auto;
    margin-inline: auto;
    padding: 1.2rem 0;
    border-top: 1px solid var(--secondary-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p {
    font-size: 1.4rem;
}

.socialList {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.socialList a {
    position: relative;
    cursor: pointer;
}
.socialList a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #000000;
    z-index: -1;
    transition: transform 0.4s var(--ease-out-expo);
}
.socialList a:hover::before {
    transform: translate(-50%, -50%) scale(1);
}
.socialList a:hover svg {
    color: var(--primary-clr);
}
.socialList svg {
    transition: color 0.4s var(--ease-out-expo);
    font-size: 1.4rem;
}